<a href="https://colab.research.google.com/github/JaCaRego/JaCaRego/blob/main/1_3_Intera%C3%A7%C3%A3o_com_usu%C3%A1rio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Visualizção de Variáveis e textos

In [ ]:
print("Conhecendo o comando print")

x = 8
print(x)

Conhecendo o comando print
8

In [ ]:
y = 10
soma = x + y
print(soma)

18

In [ ]:
nome = 'Jales Carvalho'
print(nome)

Jales Carvalho

#Concatenação

In [ ]:
x = 5
print("O valor de x é " + str(x))
print("O valor de x é", x)

O valor de x é 5
O valor de x é 5

In [ ]:
print("O valor de x é {}".format(x))
print("O valor de x é", x, "e o dobro de x é", 2 * x )

O valor de x é 5
O valor de x é 5 e o dobro de x é 10

In [ ]:
print("O valor de x é {} e o dobro de x é {}".format(x, 2 * x)) #evitar expressões muito longas

O valor de x é 5 e o dobro de x é 10

In [ ]:
print ("Eu," , nome, 'tirei', x, 'na prova de phyton')

Eu, Jales Carvalho tirei 5 na prova de phyton

In [ ]:
y = 10; z = 20 + x -y
print("O valor de y é {} e o valor de z é {}".format(y, z))
print('Declarar varias variaveis na mesma linha:', y, z)

O valor de y é 10 e o valor de z é 15
Declarar varias variaveis na mesma linha: 10 15

#Type

In [4]:
x = 10
type(x)
print('x', type(x))

nome = 'Jales'
print('nome', type(nome))

num = '100'
num_convert = int(num) # converter variável
print('num', type(num))
print('num_convert', type(num_convert))

num_float = float(num)
print('num_float', num_float)

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_convert <class 'int'>
num_float 100.0

#Input

* Armazenar a informação digitada pelo usuário em uma variável
* O dado armazenado sempre será um texto

In [5]:
nome = input('Digite seu nome do usuário ')
print(nome)

Digite seu nome do usuário Jales
Jales

In [6]:
valor = input('Digite a nota ')
print(nome, 'sua nota foi: ', valor)

Digite a nota 10
Jales sua nota foi:  10

In [17]:
valor = input('Digite o valor do produto ')
print('R$', valor)

Digite o valor do produto 10.23
R$ 10.23

###Erros comuns de typagem

In [10]:
desconto = valor - 5 # não consegue fazer uma opeação, num campo string

TypeError: unsupported operand type(s) for -: 'str' and 'int'

### Soluções para erros comuns de typagem

* Solução caso for utiçoza a operação varias vezes no codigo (criar variável)

In [21]:
# solução caso for usar o valor varias vezes no codigo
valor_convert = float(valor)
desconto = valor_convert - 5
print('R$', desconto)
valor_convert = int(valor_convert)
desconto = valor_convert - 5
print('R$', desconto)

R$ 5.23
R$ 5

* Caso for utilizar apenas uma vez no codigo, usar:

In [41]:
desconto = float(valor) - 5
print('R$', desconto)
desconto = int(float(valor)) - 5
print('R$', desconto)

R$ 5.23
R$ 5