<a href="https://colab.research.google.com/github/JaCaRego/JaCaRego/blob/main/Aula%20google%20colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4. Strings

In [ ]:
# sua empresa
lat = '-22.005320'
log = '-47.894040'

#startup adquirida
latlon = '-22.005320;-47.894040'

Como podemos normalizar a forma com que latitudes e longitudes são armazenadas para que possam ser comparadas?

4.2 Definição

Armazenam **textos**



*   c, EBAC, Andre Perez, 20 anos (texto)

São do tipo str:

In [1]:
nome_aula ="Aula 04, Módulo 01, Strings"
print(nome_aula)
print(type(nome_aula))

Aula 04, Módulo 01, Strings
<class 'str'>

In [2]:
string_vazia=" "
print(string_vazia)
print(type(string_vazia))

<class 'str'>

4.3. Operações

As operações de variáveis do tipo string são:


*   + (concatenação).

Exemplo: Nome Completo.

In [8]:
nome = 'Andre Marcos'
sobrenome = 'Perez'
apresentacao ='Ola, meu nome é ' + nome + ' ' + sobrenome+'.'
print(apresentacao)

Ola, meu nome é Andre Marcos Perez.

Uma outra forma de concatenar strings é utilizar operaçoes de formatação:

In [9]:
nome = 'Andre Marcos'
sobrenome = 'Perez'
apresentacao = f'Ola, meu nome é {nome} {sobrenome}.'
print(apresentacao)

Ola, meu nome é Andre Marcos Perez.

Outra operação muito utilizada é a de fatiamento(slicing)

Exempro: Informações de email.

In [15]:
email = 'andre.perez@gmail.com'
print('0: ' + email[0])
print('11: ' + email[11])

print('-1:' + email[-1])
print('-2:' + email[-2])

0: a
11: @
-1:m
-2:o

NameError: name 'email' is not defined